streamlit
pandas
numpy<2.0
sqlalchemy
psycopg2-binary
plotly
pyodbc==  4.0.34   
requests
BS4
selenium
yfinance
openpyxl
scikit_learn
umap
umap-learn
streamlit-extras
prophet
statsmodels
tensorflow
keras
xgboost
missingno

#mxnet==1.6.0
#gluonts
#pytorch
#torchvision
#pytorch-lightning
